@import "variables"; // чтобы переменные не подсвечивались

a {
  color: inherit;
  &:hover { color: $brand-color; }
}

.page-header {
  .col-1 { flex: 1000px; }
  .col-2 { flex: 0 0 280px; }
  .col-3 { flex: 1000px; }
  .branding {
    .brand {
      color: $brand-color; font-size: 3em; font-weight: 700;
      text-transform: uppercase;
    }
  }
  .col-3 .menu-wr {
    justify-content: flex-end;
  }
  .menu.level-1 {
    > li > a {
      font-size: $font-size-small; text-transform: uppercase; letter-spacing: 0.5px;
    }
    > li.first > a { padding-left: 0; }
    > li.last > a { padding-right: 0; }
  }
}

.page-footer {
  .branding {
    .brand {
      color: $brand-color; font-size: 2em; font-weight: 700;
      text-transform: uppercase; text-align: center;
    }
  }
}
