@import "variables"; // чтобы переменные не подсвечивались

// --- View -----------------------------------------------------------------------------
.view {
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.5rem; margin-right: 0;
  }

  .view-content { @include row(); }
  .vbo-views-form { @include col('xs', 12); }
  .view-row,
  .views-row {
    margin-bottom: 2rem;
    @include col('xs', 12);
  }

  &.view-catalog,
  &.view-catalog-s {
    .view-row,
    .views-row {
      margin-bottom: 2rem;
      @include col('md', 6);
      @include col('lg', 4);
    }
  }
}

.node-teaser.node-item {
  display: flex; flex-direction: column;
  height: 100%;
  .image {
    height: 15rem;
    img {
      display: block;
      object-fit: cover;
      width: 100%; height: 100%;
    }
  }
  .node-info {
    border: 1px solid $gray-lightest;
    border-top: none;
    flex: auto;
    display: flex; flex-direction: column;
    text-align: center;
    padding: 1.5rem;
  }
  .node-title {
    flex: auto;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .node-price {
    flex: 0 0 auto;
    margin-bottom: 1rem;
  }
  .node-actions {
    flex: 0 0 auto;
    display: flex; justify-content: center;
  }
}

.node-full.node-item {
  .node-category {
    text-transform: uppercase;
  }
  .node-title {
    color: $brand-color; font-size: $font-size-h2;
    margin-bottom: 1rem;
  }
  .node-images {
    .image { text-align: center; }
  }
}

// --- Обо мне -----------------------------------------------------------------------------
.about {
  margin-bottom: 4rem;
  p { line-height: 2; }
}

// --- 403 и 404 -----------------------------------------------------------------------------
.page40x {
  display: flex; flex-wrap: wrap; justify-content: center;
  padding-bottom: 2rem;
  .b1 {
    flex: 1 1 100%;
    text-align: center;
  }
  .b2 {
    flex: 0 1 80%;
    padding: 0 $gutter*2;
  }
  h1 { font-size: 75px; }
  h3 {
    font-weight: 400;
    margin-bottom: $gutter*2;
  }
  ul {
    text-align: left;
    color: $text-muted;
    padding-left: $gutter*2;
    margin-bottom: $gutter*2;
  }
  p {
    margin-bottom: $gutter*2;
  }

  @media #{$tablet} {
    margin-top: 6vh; padding-bottom: 4rem;
    .b1 { flex: 1 1 50%; order: 2; text-align: left; }
    .b2 {
      flex: 1 1 50%; padding: 0 6rem;
    }
  }
}
