@import "../../cbtheme/css/variables"; // продублировано из styles.scss, чтобы переменные не подсвечивались

// шрифт
//
$font-url:              'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap';

// цвета
//
$brand-color:             #c9995b;

// страница
//
$page-bkg:                #fff;

// шапка
//
$header-height:           15rem;
$header-bkg:              #fff;
$header-shadow:           none;
$header-text:             $text-color;

// меню
//
$menu-item-color:         $text-color;
$menu-item-hover-color:   $brand-color;
$menu-item-active-color:  $text-color;  // временно, тк все ссылки ведут на главную, в прод поставить $brand-color

// подвал
//
$footer-bkg:              #fff;
$footer-text:             $text-color;
