@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.row {
  margin: 0 -1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px; }

.row.reverse {
  flex-direction: row-reverse; }

.row.natural-height {
  align-items: flex-start; }

.row.flex-column {
  flex-direction: column; }

.col {
  max-width: 100%;
  padding: 0 1rem;
  flex: 0 0 auto; }
  .col.fill, .col.col-fill {
    flex-grow: 1; }

.col.reverse {
  flex-direction: column-reverse; }

.first {
  order: -1; }

.last {
  order: 1; }

.align-start {
  align-self: flex-start; }

.align-end {
  align-self: flex-end; }

.align-center {
  align-self: center; }

.align-baseline {
  align-self: baseline; }

.align-stretch {
  align-self: stretch; }

.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 0 1rem; }

.col-xs-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 0 1rem; }

.col-xs-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 0 1rem; }

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
  padding: 0 1rem; }

.col-xs-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 0 1rem; }

.col-xs-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 0 1rem; }

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
  padding: 0 1rem; }

.col-xs-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 0 1rem; }

.col-xs-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 0 1rem; }

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
  padding: 0 1rem; }

.col-xs-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 0 1rem; }

.col-xs-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 0 1rem; }

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 1rem; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

.row.start-xs {
  justify-content: flex-start; }

.row.center-xs {
  justify-content: center; }

.row.end-xs {
  justify-content: flex-end; }

.row.top-xs {
  align-items: flex-start; }

.row.middle-xs {
  align-items: center; }

.row.bottom-xs {
  align-items: flex-end; }

.row.around-xs {
  justify-content: space-around; }

.row.between-xs {
  justify-content: space-between; }

.first-xs {
  order: -1; }

.last-xs {
  order: 1; }

@media only screen and (min-width: 360px) {
  .col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1rem; }

  .col-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 1rem; }

  .col-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 1rem; }

  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1rem; }

  .col-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 1rem; }

  .col-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 1rem; }

  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1rem; }

  .col-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 1rem; }

  .col-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 1rem; }

  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1rem; }

  .col-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 1rem; }

  .col-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 1rem; }

  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1rem; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .row.start-sm {
    justify-content: flex-start; }

  .row.center-sm {
    justify-content: center; }

  .row.end-sm {
    justify-content: flex-end; }

  .row.top-sm {
    align-items: flex-start; }

  .row.middle-sm {
    align-items: center; }

  .row.bottom-sm {
    align-items: flex-end; }

  .row.around-sm {
    justify-content: space-around; }

  .row.between-sm {
    justify-content: space-between; }

  .first-sm {
    order: -1; }

  .last-sm {
    order: 1; } }
@media only screen and (min-width: 768px) {
  .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1rem; }

  .col-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 1rem; }

  .col-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 1rem; }

  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1rem; }

  .col-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 1rem; }

  .col-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 1rem; }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1rem; }

  .col-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 1rem; }

  .col-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 1rem; }

  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1rem; }

  .col-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 1rem; }

  .col-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 1rem; }

  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1rem; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.3333333333%; }

  .col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .row.start-md {
    justify-content: flex-start; }

  .row.center-md {
    justify-content: center; }

  .row.end-md {
    justify-content: flex-end; }

  .row.top-md {
    align-items: flex-start; }

  .row.middle-md {
    align-items: center; }

  .row.bottom-md {
    align-items: flex-end; }

  .row.around-md {
    justify-content: space-around; }

  .row.between-md {
    justify-content: space-between; }

  .first-md {
    order: -1; }

  .last-md {
    order: 1; } }
@media only screen and (min-width: 1024px) {
  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1rem; }

  .col-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 1rem; }

  .col-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 1rem; }

  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1rem; }

  .col-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 1rem; }

  .col-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 1rem; }

  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1rem; }

  .col-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 1rem; }

  .col-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 1rem; }

  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1rem; }

  .col-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 1rem; }

  .col-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 1rem; }

  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1rem; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .row.start-lg {
    justify-content: flex-start; }

  .row.center-lg {
    justify-content: center; }

  .row.end-lg {
    justify-content: flex-end; }

  .row.top-lg {
    align-items: flex-start; }

  .row.middle-lg {
    align-items: center; }

  .row.bottom-lg {
    align-items: flex-end; }

  .row.around-lg {
    justify-content: space-around; }

  .row.between-lg {
    justify-content: space-between; }

  .first-lg {
    order: -1; }

  .last-lg {
    order: 1; } }
@media only screen and (min-width: 1366px) {
  .col-xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1rem; }

  .col-xl-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 1rem; }

  .col-xl-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 1rem; }

  .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1rem; }

  .col-xl-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 1rem; }

  .col-xl-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 1rem; }

  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1rem; }

  .col-xl-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 1rem; }

  .col-xl-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 1rem; }

  .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1rem; }

  .col-xl-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 1rem; }

  .col-xl-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 1rem; }

  .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1rem; }

  .col-xl-offset-0 {
    margin-left: 0%; }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%; }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%; }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%; }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%; }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%; }

  .col-xl-offset-12 {
    margin-left: 100%; }

  .row.start-xl {
    justify-content: flex-start; }

  .row.center-xl {
    justify-content: center; }

  .row.end-xl {
    justify-content: flex-end; }

  .row.top-xl {
    align-items: flex-start; }

  .row.middle-xl {
    align-items: center; }

  .row.bottom-xl {
    align-items: flex-end; }

  .row.around-xl {
    justify-content: space-around; }

  .row.between-xl {
    justify-content: space-between; }

  .first-xl {
    order: -1; }

  .last-xl {
    order: 1; } }
.col-gutter-lr {
  padding: 0 1rem; }

.row-no-gutter {
  margin: 0; }

.col-no-gutter {
  padding: 0; }

.row.no-wrap {
  flex-wrap: nowrap; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  margin: 0; }

img {
  max-width: 100%; }

.show {
  display: block !important; }

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.hide {
  display: none !important; }

.show-xs {
  display: block !important; }

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.hide-xs {
  display: none !important; }

@media only screen and (max-width: 359px) {
  .show-xs-only {
    display: block !important; }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-xs-only {
    display: none !important; } }
@media only screen and (min-width: 360px) {
  .show-sm {
    display: block !important; }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-sm {
    display: none !important; } }
@media only screen and (min-width: 360px) and (max-width: 767px) {
  .show-sm-only {
    display: block !important; }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-sm-only {
    display: none !important; } }
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important; }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-md {
    display: none !important; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .show-md-only {
    display: block !important; }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-md-only {
    display: none !important; } }
@media only screen and (min-width: 1024px) {
  .show-lg {
    display: block !important; }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-lg {
    display: none !important; } }
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .show-lg-only {
    display: block !important; }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-lg-only {
    display: none !important; } }
@media only screen and (min-width: 1366px) {
  .show-xl {
    display: block !important; }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-xl {
    display: none !important; } }
.full-height {
  height: 100%; }

.text-center {
  text-align: center; }

.text-danger {
  color: #CC1335; }
  .text-danger a {
    color: inherit; }

html {
  height: 100%;
  font-size: 12px; }
  @media only screen and (min-width: 360px) {
    html {
      font-size: 14px; } }
  @media only screen and (min-width: 768px) {
    html {
      font-size: 16px; } }
  @media only screen and (min-width: 1024px) {
    html {
      font-size: 17px; } }
  @media only screen and (min-width: 1366px) {
    html {
      font-size: 18px; } }

* {
  box-sizing: border-box;
  outline: 0 !important; }

a {
  text-decoration: none; }

body {
  background-color: #fff;
  color: #333;
  line-height: 1.22;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  min-height: 100%;
  overflow-y: scroll;
  position: relative; }

h1, .h1 {
  font-size: 2.5rem;
  font-weight: 700; }

h2, .h2 {
  font-size: 1.667rem;
  font-weight: 700; }

h3, .h3 {
  font-size: 1.333rem;
  font-weight: 700; }

h4, .h4 {
  font-size: 1.222rem;
  font-weight: 700; }

h5, .h5 {
  font-size: 1rem;
  font-weight: 700; }

h6, .h6 {
  font-size: 0.889rem;
  font-weight: 700; }

h1, h2, h3 {
  margin: 2rem 0 1rem; }

h4, h5, h6 {
  margin: 1rem 0; }

.screen-width {
  position: relative;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  overflow: hidden; }

.clearfix:after {
  content: ''; }

.container {
  padding: 0 2rem;
  width: 100%; }
  .container.full-height {
    height: 100%; }
  @media only screen and (min-width: 360px) {
    .container {
      padding: 0 2rem; } }
  @media only screen and (min-width: 768px) {
    .container {
      padding: 0 2rem; } }
  @media only screen and (min-width: 1024px) {
    .container {
      padding: 0 2rem;
      max-width: 1200px;
      margin: 0 auto; } }
  @media only screen and (min-width: 1366px) {
    .container {
      padding: 0 1rem; } }

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: all 200ms ease-in; }

div.messages {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border: none;
  box-shadow: 0 5px 10px 2px #33333333;
  margin: 0;
  padding: 1rem 0;
  min-height: 60px;
  transform: translate(0, -100%);
  transition: all 200ms; }
  div.messages.visible {
    transform: translate(0, 0);
    visibility: visible; }
  div.messages.error, div.messages.warning, div.messages.status {
    background-image: none; }
  div.messages .close {
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center; }
    div.messages .close span {
      display: block;
      cursor: pointer;
      color: #ccc;
      font-weight: 500;
      padding: .1rem .5rem .5rem;
      transition: all 200ms; }
      div.messages .close span:hover {
        color: #333; }
  .admin-menu div.messages {
    margin-top: 29px !important; }

.page-header {
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: none;
  height: 12rem; }
  .page-header .container {
    display: flex; }
  .page-header .branding {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1; }
    .page-header .branding img {
      display: block;
      max-height: 100%; }
  .page-header .menu {
    display: flex;
    justify-content: space-between; }

.page-content {
  flex: 1 0 auto; }

.page-footer {
  background: #fff;
  color: #333;
  padding: 2rem 0; }
  .page-footer .container {
    height: 100%; }
  .page-footer .rights {
    font-size: 1.1rem;
    text-align: right; }

.page-banner .container {
  display: flex;
  align-items: center; }
.page-banner .screen-width {
  height: 515px; }
.page-banner .image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1; }
  .page-banner .image img {
    object-fit: cover;
    height: 100%;
    width: 100%; }
.page-banner .banner-title-wrapper {
  color: #fff;
  font-weight: 700;
  padding-top: 4rem;
  max-width: 90%; }
.page-banner .banner-title {
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1.1; }
.page-banner .banner-prefix .share {
  font-size: 2.5rem;
  position: absolute;
  bottom: 50%; }
.page-banner .banner-suffix {
  font-size: 1.333rem;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 1rem; }
@media only screen and (min-width: 768px) {
  .page-banner .container {
    align-items: center; }
  .page-banner .screen-width {
    height: 560px; }
  .page-banner .banner-title {
    font-size: 2rem; }
  .page-banner .banner-title-wrapper {
    padding-top: 0;
    max-width: 60%; }
  .page-banner .banner-prefix .share {
    font-size: 2rem;
    position: absolute;
    bottom: 15%; } }
@media only screen and (min-width: 1366px) {
  .page-banner .banner-title {
    font-size: 2.5rem; }
  .page-banner .banner-title-wrapper {
    max-width: 50%; } }

.page-title {
  margin-bottom: 2rem; }

ul.tabs.primary {
  font-size: .8rem;
  text-align: right;
  margin: 2rem 0 1rem; }
  ul.tabs.primary li a {
    color: #333;
    padding: 0.5em 1em;
    line-height: 2em; }
  ul.tabs.primary li.active a {
    background: #fff;
    border-bottom: 1px solid #fff; }

ul.tabs.secondary {
  border: none;
  text-align: right;
  padding: 0;
  margin: 0 0 2rem; }
  ul.tabs.secondary > li {
    border: none;
    padding: 0;
    margin-left: .5rem; }
    ul.tabs.secondary > li a {
      display: inline-block;
      background: #D9D9D9;
      color: #333;
      padding: .2rem 1rem;
      transition: all 100ms; }
    ul.tabs.secondary > li a:hover, ul.tabs.secondary > li.active a {
      background: #c9995b;
      border: none;
      color: #fff; }

.breadcrumb {
  color: #7D7C7C;
  font-size: 0.889rem;
  margin: 2rem 0; }
  .breadcrumb a {
    color: #7D7C7C;
    text-decoration: none; }
    .breadcrumb a:hover {
      color: #c9995b; }

.block {
  margin-bottom: 2rem;
  display: flow-root; }
  .block p:first-child {
    margin-top: 0; }
  .block p:last-child {
    margin-bottom: 0; }
  .block .view {
    margin-bottom: 0; }

.view {
  margin-bottom: 2rem; }
  @media only screen and (min-width: 1024px) {
    .view {
      margin-bottom: 4rem; } }

.views-exposed-form,
.exposed-filters {
  margin-bottom: 1rem; }
  .views-exposed-form .views-exposed-widgets,
  .views-exposed-form .filters,
  .exposed-filters .views-exposed-widgets,
  .exposed-filters .filters {
    display: flex; }
  .views-exposed-form .filters,
  .exposed-filters .filters {
    float: none;
    width: initial; }
  .views-exposed-form .views-exposed-widget,
  .views-exposed-form .filters > .form-item,
  .exposed-filters .views-exposed-widget,
  .exposed-filters .filters > .form-item {
    margin-bottom: 1rem; }
    .views-exposed-form .views-exposed-widget label,
    .views-exposed-form .filters > .form-item label,
    .exposed-filters .views-exposed-widget label,
    .exposed-filters .filters > .form-item label {
      font-weight: 500;
      margin-bottom: 6px; }
    .views-exposed-form .views-exposed-widget select, .views-exposed-form .views-exposed-widget input,
    .views-exposed-form .filters > .form-item select,
    .views-exposed-form .filters > .form-item input,
    .exposed-filters .views-exposed-widget select,
    .exposed-filters .views-exposed-widget input,
    .exposed-filters .filters > .form-item select,
    .exposed-filters .filters > .form-item input {
      width: 100%; }
  .views-exposed-form .views-exposed-widget,
  .exposed-filters .views-exposed-widget {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0; }
    .views-exposed-form .views-exposed-widget label,
    .exposed-filters .views-exposed-widget label {
      flex: 100%; }
    .views-exposed-form .views-exposed-widget .views-operator,
    .exposed-filters .views-exposed-widget .views-operator {
      flex: 0 0 40%;
      padding-right: 1rem; }
    .views-exposed-form .views-exposed-widget .views-widget,
    .exposed-filters .views-exposed-widget .views-widget {
      flex: 1 0 60%; }
  .views-exposed-form .views-exposed-widget:last-child,
  .exposed-filters .views-exposed-widget:last-child {
    padding-right: 0; }
  .views-exposed-form .views-exposed-widget.views-widget-filter-status,
  .exposed-filters .views-exposed-widget.views-widget-filter-status {
    max-width: 180px; }
  @media only screen and (min-width: 1024px) {
    .views-exposed-form .views-exposed-widget,
    .views-exposed-form .filters > .form-item,
    .exposed-filters .views-exposed-widget,
    .exposed-filters .filters > .form-item {
      max-width: 33%; }
    .views-exposed-form .views-exposed-widget.views-widget-filter-type,
    .views-exposed-form .views-exposed-widget.views-widget-filter-mail,
    .views-exposed-form .views-exposed-widget.views-widget-filter-field_user_surname_value,
    .exposed-filters .views-exposed-widget.views-widget-filter-type,
    .exposed-filters .views-exposed-widget.views-widget-filter-mail,
    .exposed-filters .views-exposed-widget.views-widget-filter-field_user_surname_value {
      max-width: 270px; } }

.profile {
  margin: 0 0 2rem; }
  .profile .profile-left {
    margin-bottom: 1rem; }
    .profile .profile-left .image img {
      width: initial; }
  .profile .profile-name {
    font-size: 1.333rem;
    font-weight: 700;
    margin-bottom: 1rem; }
  .profile .profile-role {
    font-size: 1.222rem;
    font-weight: 500;
    margin-bottom: 1rem; }
  .profile .profile-counts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem; }
    .profile .profile-counts .profile-count {
      border-radius: 4px;
      background-color: #c9995b;
      color: #fff;
      text-align: center;
      margin: 0 1rem 1rem 0;
      padding: 1rem;
      min-width: 100px; }
      .profile .profile-counts .profile-count:last-child {
        margin-right: 0; }
    .profile .profile-counts .count-amount {
      font-size: 1.667rem;
      font-weight: 700; }
  .profile a {
    color: inherit; }
  @media only screen and (min-width: 1024px) {
    .profile {
      margin-bottom: 4rem; }
      .profile .profile-name {
        margin-bottom: 2rem; }
      .profile .profile-role {
        margin-bottom: 2rem; }
      .profile .profile-counts {
        margin-bottom: 2rem; } }

table {
  margin-bottom: 1rem; }
  table th {
    font-weight: 500;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent; }
    table th:last-child {
      border-right: 1px solid transparent; }
  table td {
    border-left: 1px solid #ccc;
    padding: .5rem; }
    table td:last-child {
      border-right: 1px solid #ccc; }
  table tr.odd .form-item,
  table tr.even .form-item {
    white-space: initial; }
  table a.tabledrag-handle .handle {
    height: 22px;
    width: 22px; }
  form table.field-multiple-table td.field-multiple-drag a.tabledrag-handle {
    padding: 0; }

fieldset {
  border-width: 1px;
  padding: 1rem; }

.field {
  margin-bottom: 1rem; }

.vertical-tabs ul.vertical-tabs-list li a {
  color: inherit;
  padding: .8rem; }
.vertical-tabs strong {
  font-weight: 500; }
.vertical-tabs .summary {
  color: #7D7C7C;
  font-size: 0.8rem;
  margin-top: .5rem; }
.vertical-tabs fieldset.vertical-tabs-pane {
  padding: 1rem; }
  @media only screen and (min-width: 1024px) {
    .vertical-tabs fieldset.vertical-tabs-pane {
      padding: 1rem 2rem; } }

.horizontal-tabs ul.horizontal-tabs-list li a {
  color: inherit;
  padding: .4rem .8rem; }
.horizontal-tabs strong {
  font-weight: 500; }
.horizontal-tabs fieldset.horizontal-tabs-pane {
  padding: 1rem; }
  @media only screen and (min-width: 1024px) {
    .horizontal-tabs fieldset.horizontal-tabs-pane {
      padding: 1rem 2rem; } }

.readmore {
  margin-bottom: 1.2rem;
  overflow: hidden;
  position: relative; }
  .readmore.blur.closed {
    cursor: pointer; }
    .readmore.blur.closed:after {
      display: block;
      content: ' ';
      height: 40px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(transparent, #fbfbfb73 30%, white);
      transition: background-color 500ms; }
  .readmore.open {
    cursor: pointer;
    margin-bottom: 1.5rem; }
    .readmore.open.blur:after {
      background: none; }
  .readmore ~ .more {
    background: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #7D7C7C;
    font-size: 0.889rem;
    text-align: center;
    line-height: 1;
    height: 1.2rem;
    margin-top: -1.2rem; }

#back-to-top {
  display: none;
  position: fixed;
  bottom: 5rem;
  right: 6%;
  z-index: 100;
  cursor: pointer;
  background: #fff;
  border-radius: 50px;
  border: 0.5rem solid #c9995b85;
  font-size: 2rem; }
  #back-to-top .icon {
    color: #c9995b; }
  @media only screen and (min-width: 1024px) {
    #back-to-top {
      font-size: 1.4rem; } }

.icon {
  display: flex;
  line-height: 0; }

.c0py:hover ~ .ctooltip {
  opacity: 1;
  visibility: visible; }

.ctooltip {
  display: inline-block;
  position: absolute;
  transition: all 150ms;
  visibility: hidden;
  opacity: 0;
  padding: 0.4em;
  margin-top: -.4em;
  cursor: pointer; }
  .ctooltip svg {
    display: block;
    stroke: #ccc; }
    .ctooltip svg.c0pied {
      stroke: #c9995b; }
  .ctooltip .ctooltiptext {
    display: inline-block;
    visibility: hidden;
    min-width: 140px;
    background-color: black;
    color: whitesmoke;
    font-size: .8em;
    text-align: center;
    white-space: nowrap;
    border-radius: 6px;
    padding: 5px 15px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 0;
    transform: translateX(-50%);
    margin-left: 1.3em; }
    .ctooltip .ctooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent; }
  .ctooltip:hover {
    opacity: 1;
    visibility: visible; }
    .ctooltip:hover .ctooltiptext {
      visibility: visible;
      opacity: 1; }

.ajax-progress {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: #ffffffcc;
  background-size: cover;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 200ms; }
  .ajax-progress .throbber {
    background-image: url(../../cbtheme/images/plant.gif);
    height: 60px;
    width: 60px; }
  .ajax-progress .message {
    color: #333; }

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    box-shadow: none !important; }

  header, .page-footer, .nav-mobile, .breadcrumb, .tabs {
    display: none !important; } }
.btn:not(:last-child) {
  margin-right: 1rem; }
.btn:not(.btn-link) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #333;
  text-decoration: none;
  text-align: center;
  transition: all 200ms;
  cursor: pointer;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 1px;
  min-height: 2.3em;
  padding: .45em 1em; }
.btn.btn-default {
  background: #D9D9D9;
  border-color: #D9D9D9;
  color: #fff; }
  .btn.btn-default:not(.btn-static):hover, .btn.btn-default:not(.btn-static):focus {
    background: #c5c5c5;
    border-color: #c5c5c5; }
.btn.btn-brand {
  background: #c9995b;
  border-color: #c9995b;
  color: #fff; }
  .btn.btn-brand:not(.btn-static):hover, .btn.btn-brand:not(.btn-static):focus {
    background: #bd863e;
    border-color: #bd863e; }
.btn.btn-danger {
  background: #CC1335;
  border-color: #CC1335;
  color: #fff; }
  .btn.btn-danger:not(.btn-static):hover, .btn.btn-danger:not(.btn-static):focus {
    background: #a7102b;
    border-color: #a7102b; }
.btn.btn-warning {
  background: #FBBA00;
  border-color: #FBBA00;
  color: #fff; }
  .btn.btn-warning:not(.btn-static):hover, .btn.btn-warning:not(.btn-static):focus {
    background: #d29c00;
    border-color: #d29c00; }
.btn.btn-outline.btn-default {
  background: transparent;
  border-color: #E9E9E9;
  color: #E9E9E9; }
  .btn.btn-outline.btn-default:not(.btn-static):hover, .btn.btn-outline.btn-default:not(.btn-static):focus {
    background-color: white;
    border-color: #E9E9E9; }
.btn.btn-outline.btn-brand {
  background: transparent;
  border-color: #c9995b;
  color: #c9995b; }
  .btn.btn-outline.btn-brand:not(.btn-static):hover, .btn.btn-outline.btn-brand:not(.btn-static):focus {
    background-color: white;
    border-color: #c9995b; }
.btn.btn-outline.btn-danger {
  background: transparent;
  border-color: #CC1335;
  color: #CC1335; }
  .btn.btn-outline.btn-danger:not(.btn-static):hover, .btn.btn-outline.btn-danger:not(.btn-static):focus {
    background-color: white;
    border-color: #CC1335; }
.btn.btn-outline.btn-warning {
  background: transparent;
  border-color: #FBBA00;
  color: #FBBA00; }
  .btn.btn-outline.btn-warning:not(.btn-static):hover, .btn.btn-outline.btn-warning:not(.btn-static):focus {
    background-color: white;
    border-color: #FBBA00; }
.btn.btn-large {
  font-size: 1.222rem;
  font-weight: 500; }
.btn.btn-huge {
  font-size: 1.333rem;
  font-weight: 700; }
.btn.btn-small {
  font-size: 0.889rem; }
.btn.btn-badge {
  font-size: .6rem; }
.btn.btn-icon {
  border: none;
  background: none; }
.btn.btn-with-icon {
  border-radius: 20px;
  min-height: initial;
  padding: 0;
  width: 22px;
  height: 22px; }
.btn.btn-wide {
  padding-left: 3em;
  padding-right: 3em; }
.btn.btn-full-wide {
  width: 100%; }
.btn.btn-full-height {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
.btn.btn-underline {
  flex-direction: column; }
  .btn.btn-underline:after {
    content: ' ';
    background-color: #fff;
    display: block;
    width: 4rem;
    height: 1px;
    margin: 8px auto 0;
    transition: width 200ms; }
  .btn.btn-underline:hover:after {
    width: 5rem; }
.btn.btn-uppercase {
  font-weight: 500;
  text-transform: uppercase; }
.btn.btn-with-icon-right .icon {
  margin-left: .8em; }
.btn.btn-with-icon-left .icon {
  margin-right: .8em; }
.btn.btn-file {
  position: relative;
  overflow: hidden;
  justify-content: center;
  min-width: 2rem; }
  .btn.btn-file input[type=file] {
    background: white;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit; }
.btn.btn-disabled, .btn[disabled] {
  opacity: .5;
  cursor: default;
  pointer-events: none; }

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #c9995b;
  border-radius: 999px;
  color: #fff;
  font-weight: 700;
  padding: .25em .6em; }

.form-item,
.field-type-text-long,
.field-type-text-with-summary {
  margin-top: 0;
  margin-bottom: 1rem;
  max-width: 100%; }
  .form-item label,
  .form-item .label,
  .field-type-text-long label,
  .field-type-text-long .label,
  .field-type-text-with-summary label,
  .field-type-text-with-summary .label {
    color: #333;
    font-weight: 500;
    margin-bottom: 6px; }
    .form-item label .field-edit-link a,
    .form-item .label .field-edit-link a,
    .field-type-text-long label .field-edit-link a,
    .field-type-text-long .label .field-edit-link a,
    .field-type-text-with-summary label .field-edit-link a,
    .field-type-text-with-summary .label .field-edit-link a {
      color: #7D7C7C;
      font-weight: 300; }
  .form-item .form-text,
  .form-item .form-textarea,
  .form-item .form-select,
  .field-type-text-long .form-text,
  .field-type-text-long .form-textarea,
  .field-type-text-long .form-select,
  .field-type-text-with-summary .form-text,
  .field-type-text-with-summary .form-textarea,
  .field-type-text-with-summary .form-select {
    font-family: inherit;
    padding: .45em 1em;
    color: #333;
    font-size: 1em;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    max-width: 100%; }
    .form-item .form-text[readonly], .form-item .form-text.form-disabled,
    .form-item .form-textarea[readonly],
    .form-item .form-textarea.form-disabled,
    .form-item .form-select[readonly],
    .form-item .form-select.form-disabled,
    .field-type-text-long .form-text[readonly],
    .field-type-text-long .form-text.form-disabled,
    .field-type-text-long .form-textarea[readonly],
    .field-type-text-long .form-textarea.form-disabled,
    .field-type-text-long .form-select[readonly],
    .field-type-text-long .form-select.form-disabled,
    .field-type-text-with-summary .form-text[readonly],
    .field-type-text-with-summary .form-text.form-disabled,
    .field-type-text-with-summary .form-textarea[readonly],
    .field-type-text-with-summary .form-textarea.form-disabled,
    .field-type-text-with-summary .form-select[readonly],
    .field-type-text-with-summary .form-select.form-disabled {
      background-color: #E9E9E9;
      cursor: default;
      pointer-events: none; }
  .form-item.form-disabled .form-text,
  .form-item.form-disabled .form-textarea,
  .form-item.form-disabled .form-select,
  .field-type-text-long.form-disabled .form-text,
  .field-type-text-long.form-disabled .form-textarea,
  .field-type-text-long.form-disabled .form-select,
  .field-type-text-with-summary.form-disabled .form-text,
  .field-type-text-with-summary.form-disabled .form-textarea,
  .field-type-text-with-summary.form-disabled .form-select {
    background-color: #E9E9E9;
    cursor: default;
    pointer-events: none;
    opacity: .5; }
  .form-item .form-button-disabled,
  .field-type-text-long .form-button-disabled,
  .field-type-text-with-summary .form-button-disabled {
    opacity: .5;
    cursor: default;
    pointer-events: none; }
  .form-item .form-text,
  .form-item .form-select,
  .field-type-text-long .form-text,
  .field-type-text-long .form-select,
  .field-type-text-with-summary .form-text,
  .field-type-text-with-summary .form-select {
    height: 2.3em; }
  .form-item .description,
  .field-type-text-long .description,
  .field-type-text-with-summary .description {
    color: #ccc;
    font-size: .8em;
    white-space: initial;
    padding-top: 0.2em; }
    .form-item .description strong,
    .field-type-text-long .description strong,
    .field-type-text-with-summary .description strong {
      font-weight: 400; }
  .form-item .form-radios input,
  .field-type-text-long .form-radios input,
  .field-type-text-with-summary .form-radios input {
    margin-top: 0; }

fieldset .fieldset-legend {
  color: #333;
  font-weight: 500;
  margin-bottom: 6px; }

.field-type-text-with-summary .text-summary-wrapper .form-item,
.field-type-text-long .text-summary-wrapper .form-item {
  margin-bottom: 1em; }
.field-type-text-with-summary .description,
.field-type-text-long .description {
  margin-top: 0; }
.field-type-text-with-summary .filter-wrapper,
.field-type-text-long .filter-wrapper {
  padding: 1em 0; }
.field-type-text-with-summary .text-format-wrapper fieldset,
.field-type-text-long .text-format-wrapper fieldset {
  font-size: .8em;
  margin-bottom: 0; }

.form-actions {
  margin-top: 2em; }

.form-submit {
  font-size: 1em; }

.filter-wrapper {
  opacity: .3;
  margin-bottom: 1rem; }
  .filter-wrapper .form-item label {
    display: inline-block; }

.form-managed-file {
  display: flex;
  flex-wrap: wrap; }
  .form-managed-file .image-preview {
    flex: 0 0 120px;
    padding-bottom: 0; }
  .form-managed-file .image-widget-data,
  .form-managed-file .file-widget-data {
    float: initial; }
  .form-managed-file .image-widget-data .form-group {
    display: none; }
  .form-managed-file .form-item {
    margin-bottom: 0; }
  .form-managed-file .image-widget-data {
    flex: 1 1 250px; }
  .form-managed-file .image-action {
    flex: 100%; }
  .form-managed-file .image-etc {
    flex: 0 0 100%; }

.form-items-inline {
  display: flex;
  margin-bottom: 1rem; }
  .form-items-inline .form-item {
    margin-bottom: 0; }

.input-group {
  display: flex; }
  .input-group .form-item {
    margin-bottom: 0; }
    .input-group .form-item input {
      border-top-right-radius: initial;
      border-bottom-right-radius: initial; }
  .input-group .form-item:not(:first-child) .form-text,
  .input-group .form-text {
    flex: auto; }
  .input-group .form-text:not(:first-child) {
    border-left: none; }
  .input-group .form-item:not(:last-child) .form-text,
  .input-group .form-text:not(:last-child) {
    border-right: none; }
  .input-group .btn {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-top-left-radius: initial;
    border-bottom-left-radius: initial; }

.user-auth-form-wrapper {
  max-width: 450px;
  margin: 0 auto 3rem;
  display: flex;
  flex-wrap: wrap; }
  .user-auth-form-wrapper .user-links {
    color: #ccc;
    font-size: 0.889rem;
    margin-bottom: 1rem; }
  .user-auth-form-wrapper > h1 {
    margin-top: 0; }
  .user-auth-form-wrapper > h1,
  .user-auth-form-wrapper > form {
    line-height: 1.1;
    width: 100%; }
  @media only screen and (min-width: 1024px) {
    .user-auth-form-wrapper {
      margin: 5vh auto 0; } }

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.menu ul {
    list-style: none;
    padding: 0; }
  ul.menu li, ul.menu li.leaf {
    margin: 0;
    padding: 0;
    list-style: none; }

.menu-wr {
  display: flex;
  justify-content: space-between; }
  .menu-wr .primary-menu {
    display: flex;
    justify-content: start; }
  .menu-wr .secondary-menu {
    display: flex;
    justify-content: end; }
  .menu-wr .menu a {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 150ms; }
  .menu-wr .menu > li {
    display: inline-block;
    position: relative; }
    .menu-wr .menu > li:hover > .sub-menu {
      visibility: visible;
      opacity: 1; }
    .menu-wr .menu > li > a {
      color: #333; }
      .menu-wr .menu > li > a.active, .menu-wr .menu > li > a:focus, .menu-wr .menu > li > a.active-trail {
        color: #333; }
      .menu-wr .menu > li > a:hover {
        color: #c9995b; }
    > .menu-wr .menu > li.first a {
      padding-left: 0; }
  .menu-wr .sub-menu {
    box-shadow: 0 8px 16px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    min-width: 225px;
    padding: 0.5rem 0;
    transition: all 200ms; }
    .menu-wr .sub-menu > li.leaf {
      display: block;
      padding-left: 1rem;
      padding-right: 1rem; }
      .menu-wr .sub-menu > li.leaf a {
        color: #333;
        padding: 0.7rem 0.5rem;
        width: 100%;
        transition: all 200ms; }
      .menu-wr .sub-menu > li.leaf:hover, .menu-wr .sub-menu > li.leaf:focus {
        background: #ccc; }
        .menu-wr .sub-menu > li.leaf:hover a, .menu-wr .sub-menu > li.leaf:focus a {
          color: #333; }
  .menu-wr .primary-menu .sub-menu {
    left: 0; }
  .menu-wr .secondary-menu .sub-menu {
    right: 0; }

.menu-mobile-wr ul.menu li, .menu-mobile-wr ul.menu li.leaf {
  display: list-item;
  padding: 0 1rem; }
  .menu-mobile-wr ul.menu li > a, .menu-mobile-wr ul.menu li.leaf > a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 1.5px;
    display: block;
    padding: 1rem; }
  .menu-mobile-wr ul.menu li:not(:last-child) a, .menu-mobile-wr ul.menu li.leaf:not(:last-child) a {
    border-bottom: 1px solid white; }
.menu-mobile-wr ul.menu li.leaf > a:hover, .menu-mobile-wr ul.menu li.leaf > a.active {
  background: #d6b181; }
.menu-mobile-wr ul.menu .sub-menu {
  padding-left: 1rem; }
.menu-mobile-wr .menu-mobile-link {
  padding: 0 1rem; }
  .menu-mobile-wr .menu-mobile-link a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem; }

.nav-mobile-label {
  background: none;
  border-radius: 2px;
  display: block;
  color: #c9995b;
  font-size: 5rem;
  height: 5rem;
  transition: all 200ms ease-in;
  overflow: hidden;
  position: relative; }
  .nav-mobile-label .label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: .5em;
    height: 1em;
    transition-duration: 0.2s; }
    .nav-mobile-label .label .icon,
    .nav-mobile-label .label .icon:before,
    .nav-mobile-label .label .icon:after {
      background-color: #c9995b;
      border-radius: 5px;
      transition-duration: 0.2s;
      position: absolute;
      top: .467em;
      width: .5em;
      height: 0.067em; }
    .nav-mobile-label .label .icon {
      top: .467em; }
      .nav-mobile-label .label .icon:before {
        content: "";
        top: -0.167em; }
      .nav-mobile-label .label .icon:after {
        content: "";
        top: 0.167em; }
  @media only screen and (min-width: 1366px) {
    .nav-mobile-label {
      display: none; } }

.nav-mobile {
  background: #c9995b;
  position: fixed;
  bottom: 0;
  z-index: 11;
  width: 300px;
  height: 100%;
  padding: 0 0 4em 0;
  transition: all 200ms ease-in;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: scroll; }
  .nav-mobile .branding {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1.5rem;
    padding: 3rem 0; }
    .nav-mobile .branding .logo {
      height: 80px;
      text-align: center; }
      .nav-mobile .branding .logo img {
        max-height: 100%; }
    .nav-mobile .branding .brand {
      margin: .5rem auto; }
    .nav-mobile .branding a {
      color: inherit; }
  .nav-mobile .menu-mobile-wr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
  .nav-mobile-left .nav-mobile {
    left: 0;
    margin: 0 0 0 -300px; }
  .nav-mobile-right .nav-mobile {
    right: 0;
    margin: 0 -300px 0 0; }
  .nav-mobile .menu .expanded > a {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .nav-mobile .menu .expanded > a::after {
      flex-shrink: 0;
      width: 1.25rem;
      height: 1.25rem;
      margin-left: auto;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-size: 1.25rem;
      content: "";
      transition: transform 200ms ease-out; }
  .nav-mobile .menu .show.expanded > a::after,
  .nav-mobile .menu .slidedown.expanded > a::after {
    transform: rotate(-180deg); }
  .nav-mobile .menu li:not(.show) .sub-menu {
    display: none; }
  @media only screen and (min-width: 1366px) {
    .nav-mobile {
      display: none; } }

.nav-mobile-opened .nav-mobile {
  margin: 0; }
.nav-mobile-opened.nav-mobile-left .nav-mobile-label .label .icon {
  transition: 0.5s;
  transform: translate(2px, 0); }
  .nav-mobile-opened.nav-mobile-left .nav-mobile-label .label .icon:before {
    transform: rotateZ(-45deg) scaleX(0.75) translate(-10px, -3px); }
  .nav-mobile-opened.nav-mobile-left .nav-mobile-label .label .icon:after {
    transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 3px); }
.nav-mobile-opened.nav-mobile-left .page {
  transform: translate3d(300px, 0, 0); }
.nav-mobile-opened.nav-mobile-right .nav-mobile-label .label .icon {
  transition: 0.5s;
  transform: translate(-2px, 0); }
  .nav-mobile-opened.nav-mobile-right .nav-mobile-label .label .icon:before {
    transform: rotateZ(45deg) scaleX(0.75) translate(10px, -3px); }
  .nav-mobile-opened.nav-mobile-right .nav-mobile-label .label .icon:after {
    transform: rotateZ(-45deg) scaleX(0.75) translate(10px, 3px); }
.nav-mobile-opened.nav-mobile-right .page {
  transform: translate3d(-300px, 0, 0); }

.page-wrapper {
  overflow: hidden; }

.slider,
.carousel {
  position: relative; }
  .slider.top-pagination,
  .carousel.top-pagination {
    --swiper-pagination-top: 1rem;
    --swiper-pagination-bottom: none; }
  .slider.outer-pagination,
  .carousel.outer-pagination {
    margin-bottom: 3rem; }
    .slider.outer-pagination > .swiper-pagination,
    .carousel.outer-pagination > .swiper-pagination {
      --swiper-pagination-bottom: -2rem; }
    .slider.outer-pagination.top-pagination,
    .carousel.outer-pagination.top-pagination {
      margin-top: 4rem;
      margin-bottom: 0; }
      .slider.outer-pagination.top-pagination > .swiper-pagination,
      .carousel.outer-pagination.top-pagination > .swiper-pagination {
        --swiper-pagination-top: -2.5rem;
        --swiper-pagination-bottom: auto; }
  .slider .swiper-button-prev,
  .slider .swiper-button-next,
  .carousel .swiper-button-prev,
  .carousel .swiper-button-next {
    text-shadow: 1px 1px 8px #555; }
  .slider.outer-navigation .swiper-button-prev,
  .slider.outer-navigation .swiper-button-next,
  .carousel.outer-navigation .swiper-button-prev,
  .carousel.outer-navigation .swiper-button-next {
    text-shadow: none; }
  .slider.no-mobile-frame > .swiper,
  .carousel.no-mobile-frame > .swiper {
    padding: 0 2rem; }
  @media only screen and (min-width: 768px) {
    .slider.no-mobile-frame > .swiper,
    .carousel.no-mobile-frame > .swiper {
      padding: 0 2rem; } }
  @media only screen and (min-width: 1024px) {
    .slider.no-mobile-frame > .swiper,
    .carousel.no-mobile-frame > .swiper {
      padding: 0 2rem; } }
  @media only screen and (min-width: 1366px) {
    .slider.no-mobile-frame > .swiper,
    .carousel.no-mobile-frame > .swiper {
      padding: 0; } }
  @media only screen and (max-width: 359px), only screen and (min-width: 360px) and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 1023px), only screen and (min-width: 1024px) and (max-width: 1365px) {
    .slider.no-mobile-frame,
    .carousel.no-mobile-frame {
      position: relative;
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%); } }
  @media only screen and (min-width: 1366px) {
    .slider.outer-navigation > .swiper-button-prev, .slider.outer-navigation > .swiper-button-next,
    .carousel.outer-navigation > .swiper-button-prev,
    .carousel.outer-navigation > .swiper-button-next {
      --swiper-navigation-sides-offset: -4rem; } }

:root {
  --swiper-navigation-size: 60px;
  --swiper-navigation-color: #c9995b;
  --swiper-theme-color: #c9995b; }

a {
  color: inherit;
  transition: color 150ms; }
  a:hover {
    color: #c9995b; }

.page-header .col-1 {
  flex: 1000px; }
.page-header .col-2 {
  flex: 0 0 280px; }
.page-header .col-3 {
  flex: 1000px; }
.page-header .branding .brand {
  color: #c9995b;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase; }
.page-header .col-3 .menu-wr {
  justify-content: flex-end; }
.page-header .menu.level-1 > li > a {
  font-size: 0.889rem;
  text-transform: uppercase;
  letter-spacing: 0.5px; }
.page-header .menu.level-1 > li.first > a {
  padding-left: 0; }
.page-header .menu.level-1 > li.last > a {
  padding-right: 0; }
.page-header .sub-menu {
  border-left: 5px solid #c9995b;
  min-width: 260px; }
  .page-header .sub-menu > li.leaf:not(.last) a {
    border-bottom: 1px solid #E9E9E9; }
@media only screen and (min-width: 1024px) {
  .page-header .branding .brand {
    font-size: 3em; } }

.page-footer .branding {
  text-align: center; }
  .page-footer .branding .logo img {
    width: 130px; }
.page-footer .menu {
  font-size: 0.889rem; }
  .page-footer .menu ul {
    padding: 0; }
    .page-footer .menu ul li {
      text-transform: uppercase;
      list-style: none;
      margin-bottom: .5rem; }
  .page-footer .menu.platforms.p2 {
    text-align: right; }

.carousel {
  position: relative; }

.underline {
  background: #c9995b;
  width: 8em;
  height: 0.5rem;
  margin: 0.5rem auto; }
  .underline.underline-left {
    margin: 0; }

.section-title {
  font-size: 1.333rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 0 2rem;
  position: relative; }
  .section-title .underline {
    width: 4em;
    height: 3px;
    margin: 0.5rem auto 0; }
  .section-title.invert {
    background: #c9995b;
    color: #fff;
    padding: 1rem 2rem; }
    .section-title.invert .underline {
      background: #fff; }
  .section-title .more-all {
    color: #c9995b;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-transform: none; }
  @media only screen and (min-width: 1024px) {
    .section-title:not(.invert) {
      padding-bottom: 3rem; }
    .section-title .more-all {
      position: absolute;
      top: 2rem;
      right: 2rem; } }
  @media only screen and (min-width: 1366px) {
    .section-title {
      font-size: 1.333rem; } }

.view .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.5rem;
  margin-right: 0; }
.view .view-content {
  margin: 0 -1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px; }
.view .vbo-views-form {
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 1rem; }
.view .view-row,
.view .views-row {
  margin-bottom: 2rem;
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 1rem; }
.view.view-catalog .view-row,
.view.view-catalog .views-row, .view.view-catalog-s .view-row,
.view.view-catalog-s .views-row {
  margin-bottom: 2rem; }
  @media only screen and (min-width: 768px) {
    .view.view-catalog .view-row,
    .view.view-catalog .views-row, .view.view-catalog-s .view-row,
    .view.view-catalog-s .views-row {
      flex-basis: 50%;
      max-width: 50%;
      padding: 0 1rem; } }
  @media only screen and (min-width: 1024px) {
    .view.view-catalog .view-row,
    .view.view-catalog .views-row, .view.view-catalog-s .view-row,
    .view.view-catalog-s .views-row {
      flex-basis: 33.3333333333%;
      max-width: 33.3333333333%;
      padding: 0 1rem; } }

.node-teaser.node-item {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .node-teaser.node-item .image {
    height: 15rem; }
    .node-teaser.node-item .image img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%; }
  .node-teaser.node-item .node-info {
    border: 1px solid #E9E9E9;
    border-top: none;
    flex: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem; }
  .node-teaser.node-item .node-title {
    flex: auto;
    font-weight: 600;
    margin-bottom: 1rem; }
  .node-teaser.node-item .node-price {
    flex: 0 0 auto;
    margin-bottom: 1rem; }
  .node-teaser.node-item .node-actions {
    flex: 0 0 auto;
    display: flex;
    justify-content: center; }

.node-full.node-item .node-category {
  text-transform: uppercase; }
.node-full.node-item .node-title {
  color: #c9995b;
  font-size: 1.667rem;
  margin-bottom: 1rem; }
.node-full.node-item .node-images .image {
  text-align: center; }

.about {
  margin-bottom: 4rem; }
  .about p {
    line-height: 2; }

.page40x {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem; }
  .page40x .b1 {
    flex: 1 1 100%;
    text-align: center; }
  .page40x .b2 {
    flex: 0 1 80%;
    padding: 0 2rem; }
  .page40x h1 {
    font-size: 75px; }
  .page40x h3 {
    font-weight: 400;
    margin-bottom: 2rem; }
  .page40x ul {
    text-align: left;
    color: #ccc;
    padding-left: 2rem;
    margin-bottom: 2rem; }
  .page40x p {
    margin-bottom: 2rem; }
  @media only screen and (min-width: 1024px) {
    .page40x {
      margin-top: 6vh;
      padding-bottom: 4rem; }
      .page40x .b1 {
        flex: 1 1 50%;
        order: 2;
        text-align: left; }
      .page40x .b2 {
        flex: 1 1 50%;
        padding: 0 6rem; } }

.block-new-items .carousel-products .swiper-slide {
  height: auto; }

/*# sourceMappingURL=studio.css.map */
