@import "../flexbox/variables/grid-variables";

// colors
//
$gray-darkest:      #606060!default;
$gray-dark:         #7D7C7C!default;
$gray:              #ccc!default;
$gray-light:        #D9D9D9!default;
$gray-lightest:     #E9E9E9!default;

$divider-clr:       #7D7C7C!default;
$well-bkg-clr:      #F6F5F3!default;

$brand-blue:        #213A6E!default;
$brand-red:         #CC1335!default;
$brand-green:       #36AA3D!default;
$brand-orange:      #FBBA00!default;
$brand-green-hover: darken($brand-green, 15%)!default;
$brand-blue-hover:  lighten($brand-blue, 15%)!default;

$brand-color:       #CC1335!default;
$brand-danger:      #CC1335!default;

$warn-red:          rgba(247, 51, 51, .12)!default;
$warn-orange:       rgba(247, 201, 51,.38)!default;
$warn-green:        rgba(51, 247, 51, .12)!default;

$text-color:        #333!default;
$text-light:        $gray-dark!default;
$text-muted:        $gray!default;


// шрифт
//
$font-url:              'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap'!default;
$font-name:             'Montserrat'!default;

$font-size-h1:            2.5rem!default;            // 42
$font-size-h2:            1.667rem!default;          // 30
$font-size-h3:            1.333rem!default;          // 24
$font-size-h4:            1.222rem!default;          // 22
$font-size-h5:            1rem!default;              // 18
$font-size-h6:            .889rem!default;           // 16

$font-size-large:         1.222rem!default;          // 22
$font-size-base:          1rem!default;              // 18
$font-size-small:         .889rem!default;           // 16

// страница
//
$page-bkg:                #F8F7F4!default;
$page-gutter-xs:          $gutter*2!default;
$page-gutter-sm:          $gutter*2!default;
$page-gutter-md:          $gutter*2!default;
$page-gutter-lg:          $gutter*2!default;
$page-gutter-xl:          $gutter!default;

// шапка
//
$header-height:           5rem!default;
$header-text:             $gray-dark!default;
$header-bkg:              #F8F7F4!default;
$header-shadow:           0 4px 20px 0 rgba(0, 0, 0, 0.1)!default;

// подвал
//
//$footer-height:         80px!default;
$footer-bkg:              #1E1E1C!default;
$footer-text:             #fff!default;

// меню
//
$menu-mobile-btn-size:    5rem!default;
$menu-mobile-btn-color:   #fff!default;
$menu-mobile-btn-bkg:     none!default;
$menu-mobile-width:       300px!default;
$menu-mobile-bkg:         $brand-blue!default;
$menu-item-color:         #555!default;
$menu-item-hover-color:   #333!default;
$menu-item-active-color:  #000!default;
$submenu-bkg:             #fff!default;
$submenu-item-color:      $text-color!default;
$submenu-item-hover-color:$text-color!default;
$submenu-item-hover-bkg:  $text-muted!default;



// Формы
$form-bottom-margin:      1rem!default;
$form-item-height:        2.3em!default; // em, чтобы масштабировать в зависимости от размера шрифта
$input-border-width:      1px!default;
$input-border-radius:     1px!default;

